# NexPath - LFAM Platform .gitignore

# Node.js / JavaScript
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
